@model List<Product>
@{
    ViewData["Title"] = "ShowCart";
}


@section Greetings{
    <div>
        welcome!
        @*@if (Model != null)
            {
            <div>@Model.FirstName @Model.LastName</div>

            }*@
        @*else
        {
        <div>
            visitor
        </div>
        }*@
    </div>
}

<div class="pageContent">
    <table>
        <tr>
            <th>item name</th>
            <th>price</th>
            <th>actions</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="ShowDetails" asp-controller="Home">@item.Title</a>
                    
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    <a asp-action="RemoveFromCart" asp-controller="ShoppingCart">Remove</a>
                </td>
            </tr>
        }
    </table>
    <div class="cart-summary">
        <form asp-controller="ShoppingCart" asp-action="CompletePurchase" method="post">
            <div>
                total price for visitor:
                @TempData["visitorPrice"]
              
            </div>
            <div>
                total price for members:
                @TempData["memberPrice"]
                @*add member price*@
            </div>
            <input type="submit" value="Purchase" />
        </form>
    
    </div>


</div>

